body {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
}

#title {
  background-image: url(./images/Title.png);
  background-size:contain;
  position: relative;
  background-repeat: no-repeat;
  height:20vh;
  width:25%;
  margin: auto;
}

aside {
  display: flex;
  flex-direction: row;
  position: absolute;
  width:100%;
  height: 20vh;
  bottom:0;
  left:0;
  font-size:2rem;
}

aside > div {
  margin:0;
  width:16%;
  height:10vh;
  opacity: 0.6;
  position: relative;
  text-align: center;
  line-height: 10vh;
  margin:auto;
  border:2px solid black;
  background-color: blanchedalmond;
}

main {
  width:100%;
  height: 61.5vh;
  position: absolute;
  top:20vh;
  margin:auto;
} 

.container {
  position: relative;
  flex-wrap: wrap;
  width:100%;
  height:61.5vh;
}

.container > div{
  display: inline-block;
  width:10.22%;
  height: 50%;
  position: relative;
  margin:0.5% 1% 0 1%;
  border:0.1% solid black;
}

#decor {
  background-image: url(./images/Samurai_BG.png);
  position: absolute;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  height:20vh;
  width:20vw;
  left:0;
  top:0;
}

#music {
  background-image: url(./images/mute.png);
  background-size: 100%;
  width:50px;
  height:50px;
  position: absolute;
  right:1%;
  top:6%;
}

#timer {
  position: absolute;
  width: 20%;
  height: 10%;
  right: 10%;
  top: 5%;
  border: 2px black solid;
  font-size: 2rem;
  text-align: center;
}

span {
  line-height: 180%;
}

.lfz-card, .background {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width:100%;
  position: absolute;
}

.lfz-card {
  background-image: url("./images/CardBack.png");
  z-index: 1;
}

#card1 > .background, #card9 > .background {
  background-image: url("./images/Samurai_1.png");
}

#card2 > .background, #card10 > .background {
  background-image: url("./images/Samurai_2.png");
}

#card3 > .background, #card11 > .background {
  background-image: url("./images/Samurai_3.png");
}

#card4 > .background, #card12 > .background {
  background-image: url("./images/Samurai_4.png");
}

#card5 > .background, #card13 > .background {
  background-image: url("./images/Samurai_5.png");
}

#card6 > .background, #card14 > .background {
  background-image: url("./images/Samurai_6.png");
}

#card7 > .background, #card15 > .background {
  background-image: url("./images/Samurai_7.png");
}

#card8 > .background, #card16 > .background {
  background-image: url("./images/Samurai_8.png");
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1024px) {
}