html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#decor {
  background-image: url(./images/Samurai_BG.png);
  position: absolute;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  height:20%;
  width:20%;
  left:0;
  top:1vh;
}

#title {
  background-image: url(./images/Title.png);
  background-size:contain;
  position: absolute;
  background-repeat: no-repeat;
  height:20vh;
  width:25%;
  top:2vh;
  left: 40vw;
}

#timer {
  position: absolute;
  width: 20%;
  height: 10%;
  right: 5%;
  top: 5%;
  font-size: 2rem;
  text-align: center;
}

aside {
  display: flex;
  flex-direction: row;
  position: absolute;
  width:100%;
  height: 20vh;
  bottom:0;
  left:0;
  font-size:2rem;
}

aside > div {
  margin:0;
  width:16%;
  height:10vh;
  opacity: 0.6;
  position: relative;
  text-align: center;
  line-height: 10vh;
  margin:auto;
  border:2px solid black;
  background-color: blanchedalmond;
}

main {
  width:100%;
  height: 61.5vh;
  position: absolute;
  top:20vh;
  margin:auto;
} 

.container {
  position: relative;
  flex-wrap: wrap;
  width:100%;
  height:61.5vh;
}

.container > div {
  display: inline-block;
  width:10.22%;
  height: 50%;
  position: relative;
  margin:0.5% 1% 0 1%;
  border:0.1% solid black;
}

span {
  line-height: 10vh;
}

#modal {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  width:100%;
  height: 60%;
  z-index: 2;
  top:22%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#modalButton {
  width: 10%;
  height: 10%;
  position: absolute;
  bottom:35%;
  font-size: 1rem;
}

.lfz-card, .background {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width:100%;
  position: absolute;
}

.lfz-card {
  background-image: url("./images/CardBack.png");
  z-index: 1;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 1504px) {
  #decor {
    top:2vh;
  }

  #title {
    height:20vh;
    width:30%;
    top:2vh;
    left: 40vw;
  }

  #timer {
    top: 8%;
  }

  main {
    top:25vh;
  } 
  
  .container > div{
    width:10%;
    height: 40%;
    margin:0% 1% 0% 1%;
    left:1%;
  }
  
  aside {
    width:100%;
    height: 20vh;
    bottom:5%;
    left:0;
    font-size:2rem;
  }

  #modal {
    top:23%;
    height: 55%;
  }
}

@media only screen and (max-width: 1244px) { 
  #decor {
    top:3vh;
  }

  .container > div{
    width:10%;
    height: 40%;
    margin:0% 1% 0% 1%;
    left:1%;
  }

  aside {
    width:100%;
    height: 20vh;
    bottom:10%;
    left:0;
    font-size:2rem;
  }
}